  nav {
      width: 100vw;
      background-color: #00a3cc;
      padding: 1vw;
  }


  nav a:hover {
      background-color: rgb(170, 226, 188);
  }



  .background {
      background-color: rgb(196, 202, 204);
  }

  .column {
      height: 250px;
      float: left;
      width: 50%;
      background-color: rgb(206, 184, 152);
      max-height: 100%;
      overflow-y: scroll;
  }

  .row:after {
      content: "";
      display: table;
      clear: both;
  }


  nav ul {
      margin: 0;
      padding: 0;
      display: flex;
  }

  nav li {
      display: inline;
      margin: 15px;
      font-size: 2.5vh;
  }


  nav a {
      color: black;
      padding: 1vw;
      font-family: monospace;
  }


  .active {
      background-color: rgb(69, 71, 71);
  }


  .center {
      display: block;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }